@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    box-sizing: border-box;
    background: #000;
}

/* Container */
.container {
    width: 85%;
    margin: 0 auto;
}

/* Flex */
.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Title */
.title {
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

/* Name */
.name {
    margin-top: 7%;
    font-size: 9rem;
}

/* First Name */
.first-name {
    font-weight: 200;
}

/* Description */
.description {
    margin-top: 5px;
    font-size: 3rem;
    color: #cecece;
}

.description-highlight {
    color: #4B90E2;
}

/* Email */
.email {
    font-size: 1.5rem;
    font-weight: 600;
    align-self: last baseline;
    order: -1;
}

/* Image Contents Styles */
.design-images {
    margin-top: 12%;
    justify-content: space-evenly;
    row-gap: 40px;
    column-gap: 40px;
}

.img-col {
    width: calc((100% - 80px)/3);
}

.img-col img {
    height: 100%;
    width: 100%;
}

/* Tagline */
.tagline {
    margin-top: 7%;
    justify-content: center;
    font-size: 4rem;
}

.tagline h5 {
    color: #cecece;
}

.tag-highlight {
    color: #B8E986
}

/* Logos */
.brand-logos {
    margin-top: 9%;
    justify-content: space-around;
}

.logo {
    text-align: center;
}

.logo img {
    width: 60%;
}

.logo:nth-child(3) {
    margin-top: -20px;
}

.logo:nth-child(4) {
    margin-top: 15px;
}

.logo:nth-child(6) {
    margin-top: -15px;
}

/* Ruler */
.ruler {
    margin-top: 16%;
    justify-content: center;
    flex-wrap: nowrap;
}

.line1 {
    margin-right: 30px;
    width: 2%;
    height: 0;
    border: 1px solid white;
    border-radius: 5px;
}

.line2 {
    width: 15%;
    height: 0;
    border: 1px solid white;
    border-radius: 5px;
}

/* Social Media Icon */
.social-icons-wrapper {
    margin-top: 7%;
    justify-content: center;
}

.social-icons {
    /* padding: 9px; */
    width: 50px;
    height: 50px;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    font-size: 2rem;
}

/* Footer Slogan */
.footer-slogan {
    padding-bottom: 50px;
    margin-top: 5%;
    text-align: center;
    font-size: 1.3rem;
}

/* Mobile View Styles */
@media only screen and (max-width: 700px) {
    .title {
        margin: 0;
    }
    .name {
        font-size: 3rem;
    }
    .description {
        font-size: 1.75rem;
    }
    .email {
        align-self: center;
        order: 1;
        font-size: 1.05rem;
    }
    .img-col, .img-col img {
        width: 100%;
    }
    
    .tagline {
        font-size: 2.25rem;
        font-weight: 300;
    }
    .brand-logos {
        margin-top: 75px;
        justify-content: space-evenly;
        row-gap: 90px;
    }
    .logo {
        width: calc((100% - 50px)/2);
    }

    .logo img {
        max-width: 80%;
    }

    .logo:nth-child(2n+1) img {
        float: left;
    }
    .logo:nth-child(2n+2) img {
        float: right;
    }

    .logo:nth-child(3) {
        width: 30%;
    }
    .logo:nth-child(3) img {
        margin-left: 20px;
    }

    .logo:nth-child(4) {
        width: 60%;
        margin-top: -5px;
    }
    
    .social-icons-wrapper {
        flex-wrap: nowrap;
    }
    
    .social-icons {
        margin: 10px;
        font-size: 1.5rem;
    }
    .line1 {
        width: 5%;
        margin-right: 15px;
    }
    .line2 {
        width: 30%;
    }
}