@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

/* START:: Header */
.header-title {
    padding: 25px 0;
    color: white;
    background-color: #145F94;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}
/* END:: Header */

/* START:: Container */
.container-box {
    width: 83%;
    margin: 0 auto;
    padding-top: 30px;
}
/* END:: Container */

/* Left Container */
.left-container {
    float: left;
    width: 61.5%
}

/* Right Container */
.right-container {
    float: right;
    width: 38.5%;
}

/* START:: Card */
.card {
    padding: 15px 11px;
}

.card-title {
    padding: 14px 20px;
    color: white;
    background-color: #145F94;
    font-size: 1.4rem;
    font-weight: 500;
}

.card-content {
    border: 1px solid #145F94;
    background-color: #F6F6F6;
    font-size: large;
    line-height: 1.7rem;
    text-align: justify;
    padding: 15px 30px;
    font-size: 17px;
}
/* END:: Card */