@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flex */
.flex {
    display: flex;
    flex-wrap: wrap;
}

/* Header Wrapper */
.header-wrapper {
    padding: 35px 30px;
    background-color: #3B1C67;
}

/* Title */
.title {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

/* Container */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Card Wrapper */
.card-wrapper {
    margin: 65px 0;
    gap: 15px;
}

/* Card */
.card {
    padding: 20px;
    width: calc((100% - 30px)/3);
    background-color: #4D67B4;
    column-gap: 20px;
}

/* Profile Image */
.profile-image img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* Profile Details */
.profile-details {
    flex-flow: column;
    justify-content: center;
    row-gap: 2.5px;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    max-width: 350px;
}

/* Name */
.name {
    font-size: 1.2rem;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Email */
.email {
    font-size: 15.3px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}