// Colors
$primary_backgroundColor: #000;
$primary_textColor: #FFF;
$secondary_textColor: #cecece;
$primary_highlightColor: #4B90E2;
$secondary_highlightColor: #B8E986;

// Font
@mixin fontStyles($color:$primary_textColor) {
	font-family: 'Roboto Condensed', sans-serif;
	color: $color;
}

// Flex
@mixin flexContainer($justify-content:center) {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: $justify-content;
}

// Line
@mixin line($width) {
	width: $width;
	height: 0;
	border: 1px solid $primary_textColor;
	border-radius: 5px;
}
